body {
  color: ghostwhite;
  background-color: #121210; }

.icon {
  color: ghostwhite; }

#navDesktop ul {
  color: #0d0b0b;
  background-color: #faf9f0; }

.text-wh {
  color: ghostwhite;
  text-shadow: 2px 2px #121210; }

.bg-image h1, .bg-image h3 {
  text-shadow: 2px 2px #121210; }

.bg-image p {
  text-shadow: 1px 1px #121210; }

.card {
  color: #0d0b0b;
  background-color: #faf9f0; }

.bg-text {
  color: ghostwhite;
  opacity: 0.25;
  transition: all 2s; }
  .bg-text:hover {
    opacity: 0.99; }

.bg-card {
  background-color: #121210; }

@keyframes promoAnimada {
  0% {
    background-color: #0d0b0b; }
  10% {
    background-color: #0d0b0b; } }

.animText {
  color: ghostwhite;
  text-shadow: 2px 2px #121210; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #logo {
    width: 75%; } }

#navMobile {
  width: 97%; }
  #navMobile button {
    width: 97%; }

.bg-image {
  background-size: cover; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sectionLogo {
    width: 50%; } }

.columna {
  width: 90%; }

.publicidad {
  height: 40%;
  background-size: cover; }

.animText {
  width: 90%;
  height: 40px;
  line-height: 40px; }

body {
  justify-content: center; }

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .nav-bar {
      justify-content: center; } }

#navDesktop ul {
  justify-content: center; }

.title-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.card-title-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .tienda {
    flex-flow: column nowrap; } }

.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-around; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .form {
      flex-flow: column nowrap; } }
  @media only screen and (min-width: 768px) {
    .form {
      flex-flow: row nowrap; } }

.animText {
  display: flex; }

.baseline {
  align-items: baseline; }

.align-center {
  align-items: center; }

.acerca-de {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .acerca-de {
      flex-flow: column nowrap; } }
  @media only screen and (min-width: 768px) {
    .acerca-de {
      flex-flow: row nowrap; } }

.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
      flex-flow: column nowrap; } }
  @media only screen and (min-width: 768px) {
    .footer {
      flex-flow: row nowrap; } }

.submit {
  justify-content: flex-start; }

.f-start {
  display: flex; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .f-start {
      flex-flow: column nowrap;
      justify-content: center; } }
  @media only screen and (min-width: 768px) {
    .f-start {
      flex-flow: row nowrap;
      justify-content: flex-start; } }

.iconsContainer {
  padding: 10px; }

.icon {
  margin: 2px; }

.paddingTB {
  padding-top: 10px;
  padding-bottom: 50px; }

.paddingSectionTB {
  padding-top: 20px;
  padding-bottom: 20px; }

.marginLR {
  margin-left: 25px;
  margin-right: 25px; }

.paddingForm {
  padding-top: 5px;
  padding-bottom: 5px; }

#whatsapp {
  margin: 2px; }

.animText {
  margin: auto; }
  .animText ul {
    padding-left: 10px; }
  .animText p, .animText ul {
    margin: 0px; }

@keyframes interactiveList {
  0% {
    margin: 0px; }
  40% {
    margin: 0px; }
  50% {
    margin-top: -40px; }
  65% {
    margin-top: -40px; }
  75% {
    margin-top: -80px; }
  100% {
    margin-top: -80px; } }

.containerText {
  padding: 250px 50px 250px 50px; }

.noMargin {
  margin: 0px; }

.encabezadoA, .encabezadoB {
  margin-bottom: 10px; }

.Style2 {
  margin-top: 100px; }

.footer {
  margin-top: 20px; }

html {
  font-size: 62, 5%;
  font-family: "Staatliches", cursive; }

.icon {
  font-size: 2rem; }

.iconS {
  font-size: 1.2rem; }

.title-view {
  font-family: "Handlee", cursive; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .title-view {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 768px) {
    .title-view {
      font-size: 8rem; } }

.encabezadoA {
  font-family: "Handlee", cursive; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .encabezadoA {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 768px) {
    .encabezadoA {
      font-size: 3.5rem; } }

.encabezadoB {
  font-family: "Handlee", cursive; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .encabezadoB {
      font-size: 1rem; } }
  @media only screen and (min-width: 768px) {
    .encabezadoB {
      font-size: 2rem; } }

.comunidad h1 {
  font-family: "Handlee", cursive;
  font-size: 1.8rem; }

.comunidad h3 {
  font-family: "Handlee", cursive; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .comunidad h3 {
      font-size: 1rem; } }
  @media only screen and (min-width: 768px) {
    .comunidad h3 {
      font-size: 1.8rem; } }

.text {
  font-size: 0.8rem; }

.sectionTitle {
  font-size: 1.8rem; }

.sectionSubtitle {
  font-size: 1.6rem; }

.parrafo {
  font-size: 1rem; }

.contacto h1 {
  font-size: 1.8rem; }

.contacto h3 {
  font-size: 1.4rem; }

.contacto h5 {
  font-size: 1rem; }

.link {
  text-decoration: none;
  transition: all 2; }
  .link:hover {
    font-size: 200%; }

.description {
  font-size: 1rem; }

.footer {
  font-size: 1.2rem; }

.publicidad {
  font-weight: bold; }

.animText {
  font-size: 1.6rem; }
  .animText ul {
    list-style-type: none; }

.card-name {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Handlee", cursive; }

.iconsContainer {
  text-align: right; }

#logo {
  position: relative; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    #logo {
      left: 50px; } }
  @media only screen and (min-width: 768px) {
    #logo {
      z-index: 2; } }

#navDesktop {
  z-index: 1; }

@media only screen and (min-width: 768px) {
  #carousel {
    position: relative;
    bottom: 75px;
    z-index: 0; } }

@media only screen and (min-width: 768px) {
  .sectionLogo {
    position: relative; } }

@media only screen and (min-width: 768px) {
  #portada {
    position: relative;
    bottom: 75px;
    z-index: 0; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .cards {
    position: relative;
    left: 20px; } }

.bg-image, body {
  background-position: center; }

@media only screen and (min-width: 320px) and (max-width: 1023px) {
  #whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px; } }

.logIn {
  position: relative;
  left: 50px; }

.publicidad {
  background-position: center;
  text-align: center; }

.animText {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }

.sectionTitle, .parrafo, .sectionSubtitle {
  text-align: center; }

.z-1 {
  z-index: 1; }

.Style2 {
  text-align: center; }

@media only screen and (min-width: 1024px) {
  #navMobile {
    display: none; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #navDesktop {
    display: none; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .carousel-caption {
    display: none; } }

@media only screen and (min-width: 1024px) {
  #whatsapp {
    display: none; } }

.bg-image {
  background-image: url(../assets/images/integral.jpg);
  background-repeat: no-repeat; }

.publicidad {
  background-repeat: no-repeat; }

@keyframes promoAnimada {
  25% {
    background-image: url(../assets/images/budinCacao.jpg); }
  40% {
    background-image: url(../assets/images/budinCacao.jpg); }
  50% {
    background-image: url(../assets/images/budinBananas.jpg); }
  65% {
    background-image: url(../assets/images/budinBananas.jpg); }
  75% {
    background-image: url(../assets/images/marmolado.jpg); }
  90% {
    background-image: url(../assets/images/marmolado.jpg); } }

.publicidad {
  animation-name: promoAnimada;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 6s;
  animation-delay: 0s; }

.animText ul {
  animation-name: interactiveList;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 6s;
  animation-delay: 0s; }
