$negro: #0d0b0b;
$oscuro: #121210;
$darkGrey: #261b0f;
$blanco: ghostwhite;
$bg-light: #faf9f0;
$beige: lightgoldenrodyellow;
$verde: #15d445;
$color: #91061d;
$o-100:0.99;
$o-75: 0.75;
$o-25: 0.25;
$o-0: 0;
$marron: #c9c997;
$shadow: 2px 2px #121210;
$shadow-s: 1px 1px #121210;

body {
	background-color:$oscuro;
}
.icon {
	color:$blanco;
}
.encabezadoA,.encabezadoB,.card-title {
	color:$blanco;
	text-shadow:$shadow;
}
.bg-image {
	h1,h3 {
		text-shadow:$shadow;
	}
	p {
		text-shadow:$shadow-s;
	}
}
.card {
	color:$negro;
	background-color:$bg-light;
}
.bg-text {
	color:$blanco;
	opacity:$o-25;
	transition: all 2s;
	&:hover {
		opacity:$o-100;
	}
}
.bg-card {
	background-color:$oscuro;
}
@keyframes promoAnimada {
	0% {background-color:$negro;}
	10% {background-color:$negro;}
}
.animText {
	color:$blanco;
	text-shadow:$shadow;
}


