$bl: #0d0b0b;
$dark: #121210;
$wh: ghostwhite;
$light: #faf9f0;
$o-100:0.99;
$o-75: 0.75;
$o-25: 0.25;
$o-0: 0;
$shadow: 2px 2px #121210;
$shadow-s: 1px 1px #121210;

body {
	color:$wh;
	background-color:$dark;
}
.icon {
	color:$wh;
}
#navDesktop {
	ul {
		color:$bl;
		background-color:$light;
	}
}
.text-wh {
	color:$wh;
	text-shadow:$shadow;
}
.bg-image {
	h1,h3 {
		text-shadow:$shadow;
	}
	p {
		text-shadow:$shadow-s;
	}
}
.bg-card {
	background-color:$dark;
}
@keyframes promoAnimada {
	0% {background-color:$bl;}
	10% {background-color:$bl;}
}
.animText {
	color:$wh;
	text-shadow:$shadow;
}
.animForm {
	color:$wh;
	opacity:$o-25;
	transition: all 2s;
	&:hover {
		opacity:$o-100;
	}
}


