$d-flex: flex;
$row-no-w: row nowrap;
$column-no-w: column nowrap;
$col-reverse: column-reverse;
$jc-around: space-around;
$jc-between: space-between;
$f-start: flex-start;
$jc-end: flex-end;
$center: center;
$align-base: baseline;

body {
	justify-content:$center;
}
.nav-bar {
	display:$d-flex;
	flex-flow:$row-no-w;
	align-items:$center;
	@media only screen and (min-width:320px) and (max-width:767px) {
		justify-content:$center;
	}
}
#navDesktop {
	ul {
		justify-content:$center;
	}
}
.title-container {
	display:$d-flex;
	flex-flow:$column-no-w;
	justify-content: $center;
	align-items:$center;
}
.card-title-container {
	display:$d-flex;
	flex-flow:$column-no-w;
	justify-content: $center;
	align-items:$center;
}
.tienda {
	@media only screen and (min-width:320px) and (max-width:767px) {
		flex-flow:$column-no-w;
	}
}
.form {
	display:$d-flex;
	align-items:$f-start;
	justify-content:$jc-around;
	@media only screen and (min-width:320px) and (max-width:767px) {
		flex-flow:$column-no-w
	}
	@media only screen and (min-width:768px) {
		flex-flow:$row-no-w;
	}
}
.animText {
	display:$d-flex;
}
.baseline {
	align-items:$align-base;
}
.align-center {
	align-items:$center;
}
.acerca-de {
	display:$d-flex;
	justify-content: $center;
	align-items:$center;
	@media only screen and (min-width:320px) and (max-width:767px) {
		flex-flow:$column-no-w;
	}
	@media only screen and (min-width:768px) {
		flex-flow:$row-no-w;
	}
}
.section {
	display:$d-flex;
	flex-flow:$column-no-w;
	justify-content: $center;
	align-items:$center;
}
.footer {
	display:$d-flex;
	justify-content: $center;
	align-items:$center;
	@media only screen and (min-width:320px) and (max-width:767px) {
		flex-flow:$column-no-w;
	}
	@media only screen and (min-width:768px) {
		flex-flow:$row-no-w;
	}
}
.submit {
	justify-content: $f-start;
}
.f-start {
	display:$d-flex;
	@media only screen and (min-width:320px) and (max-width:767px) {
		flex-flow:$column-no-w;
		justify-content: $center;
	}
	@media only screen and (min-width:768px) {
		flex-flow:$row-no-w;
		justify-content: $f-start;
	}
}