$d-flex: flex;
$row-no-w: row nowrap;
$column-no-w: column nowrap;
$col-reverse: column-reverse;
$jc-around: space-around;
$jc-between: space-between;
$f-start: flex-start;
$jc-end: flex-end;
$cen: center;

body {
	justify-content:$cen;
}
.nav-bar {
	display:$d-flex;
	flex-flow:$row-no-w;
	align-items:$cen;
	@media only screen and (min-width:320px) and (max-width:767px) {
		justify-content:$cen;
	}
}
#navDesktop {
	ul {
		justify-content:$cen;
	}
}
.title-container,.flex-section {
	display:$d-flex;
	flex-flow:$column-no-w;
	justify-content: $cen;
	align-items:$cen;
}
.flex-container,.error {
	display:$d-flex;
	justify-content: $cen;
	align-items:$cen;
	@media only screen and (min-width:320px) and (max-width:767px) {
		flex-flow:$column-no-w;
	}
	@media only screen and (min-width:768px) {
		flex-flow:$row-no-w;
	}
}
.tienda {
	@media only screen and (min-width:320px) and (max-width:767px) {
		flex-flow:$column-no-w;
	}
}
.bg-image {
	display:$d-flex;
	flex-flow:$row-no-w;
	justify-content: $cen;
}
.form {
	display:$d-flex;
	align-items:$f-start;
	justify-content:$jc-around;
	@media only screen and (min-width:320px) and (max-width:767px) {
		flex-flow:$column-no-w
	}
	@media only screen and (min-width:768px) {
		flex-flow:$row-no-w;
	}
}
.footer {
	display:$d-flex;
	justify-content: $cen;
	@media only screen and (min-width:320px) and (max-width:767px) {
		flex-flow:$column-no-w;
		align-items:$cen;
	}
	@media only screen and (min-width:768px) {
		flex-flow:$row-no-w;
		align-items: $f-start;
	}
}
.animText {
	display:$d-flex;
}
.submit {
	justify-content: $f-start;
}
.align-center {
	align-items:$cen;
}



