$bg-im-integral: url(../assets/images/integral.jpg);
$bg-im-cacao: url(../assets/images/budinCacao.jpg);
$bg-im-bananas: url(../assets/images/budinBananas.jpg);
$bg-im-marmolado: url(../assets/images/marmolado.jpg);
$bg-no-repeat: no-repeat;

.bg-image {
	background-image:$bg-im-integral;
	background-repeat:$bg-no-repeat;
	}
.publicidad {
   background-repeat:$bg-no-repeat;
}
@keyframes promoAnimada {
	25% {background-image:$bg-im-cacao;}
   40% {background-image:$bg-im-cacao;}
	50% {background-image:$bg-im-bananas;}
   65% {background-image:$bg-im-bananas;}
	75% {background-image:$bg-im-marmolado;}
   90% {background-image:$bg-im-marmolado;}
}

