$p-relative: relative;
$center: center;
$der: right;
$izq: left;
$fix: fixed;
$m-10: 10px;
$m-20: 20px;
$m-50: 50px;
$m-75: 75px;
$m-90: 90px;
$m-250: 250px;
$z-0: 0;
$z-1: 1;
$z-2: 2;

$l-1000: -1000px;
$cero: 0;
$abs: absolute;
$hidden: hidden;

.iconsContainer {
	text-align:$der;
}
#logo {
	position:$p-relative;
	@media only screen and (min-width:320px) and (max-width:767px) {
		left:$m-50;
	}
	@media only screen and (min-width: 768px) {
		z-index:$z-2;
	}
}
#navDesktop {
	z-index:$z-1;
}
#carousel {
	@media only screen and (min-width: 768px) {
		position:$p-relative;
		bottom:$m-75;
		z-index:$z-0;
	}
}
.sectionLogo {
	@media only screen and (min-width: 768px) {
		position:$p-relative;
	}
}
#portada {
	@media only screen and (min-width: 768px) {
		position:$p-relative;
		bottom:$m-75;
		z-index:$z-0;
	}
}
.cards {
	@media only screen and (min-width:320px) and (max-width:767px) {
		position:$p-relative;
		left:$m-20;
	}
}
.bg-image,body {
	background-position:$center;
}
#whatsapp {
	@media only screen and (min-width:320px) and (max-width:1023px) {
		position:$fix;
		bottom:$m-20;
		right:$m-20;
	}
}
.logIn {
	position:$p-relative;
	left:$m-50;
}
.publicidad {
		background-position:$center;
		text-align:$center;}
.animText {
	position:$abs;
	top:$cero;
	left:$cero;
	bottom:$cero;
	right:$cero;
	overflow:$hidden;
}
.sectionTitle,.parrafo,.sectionSubtitle {
	text-align:$center;
}
.z-1
 {
 	z-index:$z-1;
 }
 .Style2 {
 	text-align:$center;
 }