$bg-cover: cover;
$bg-cont: contain;
$full: 100%;
$w-40: 40%;
$w-50: 50%;
$w-75: 75%;
$w-90: 90%;
$w-100: 97%;
$h-40: 40px;

#logo {
	@media only screen and (min-width:320px) and (max-width:767px) {
		width:$w-75;
	}
}
#navMobile {
	width:$w-100;
	button {
		width:$w-100;
	}
}
.sectionLogo {
	@media only screen and (min-width:320px) and (max-width:767px) {
		width:$w-50;
	}
}
.modal {
	@media only screen and (min-width:320px) and (max-width:767px) {
		width:$w-75;
	}
}
.bg-image {
	background-size:$bg-cover;
}	
.column-item {
	width:$w-90;
}
.publicidad {
	height:$w-40;
	background-size:$bg-cover;
}
.animText {
	width:$w-90;
	height:$h-40;
	line-height:$h-40;
}

