<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
	<title>zahi+Serra</title> 
	<!-- Google fonts -->
	<link rel = "preconnect" href = "https://fonts.googleapis.com">
	<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	<!-- Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
   	<link rel="stylesheet" href="..\css\bootstrap.min.css">
    <!-- AOS CSS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- Mi CSS -->
	<link rel="stylesheet" type="text/css" href="..\css\estilo.css">
</head>
<body class="p-3 justify-content-center">
	<div class="container-fluid">
		<header class="row">
			<div class="col-xs-12 col-lg-12 m-2 iconsContainer">
				<i class="fab fa-instagram icon"></i>
				<i class="fab fa-youtube icon"></i>
				<i class="fab fa-facebook-f icon"></i>
			</div>
		</header>
		<div class="row nav-bar">
			<div class="col-lg-2 col-xs-12">
				<a href="..\index.html"><img src="..\assets\images\logo.png" alt="logo" id="logo" width="110%" data-aos="flip-left"></a>
			</div>
			<div id="navDesktop" class="col-md-10">
				<ul class="nav">
					<li class="nav-item">
					    <a class="nav-link active text-reset" href="Nosotros.html">NOSOTROS</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link text-reset" href="Productos.html">PRODUCTOS</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link text-reset" href="Tienda.html">TIENDA</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-reset" href="Contacto.html">CONTACTO</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div id="navMobile" class= "col-xs-12 dropdown">
				<button class="btn btn-light dropdown-toggle mt-2 mb-2 ml-3 mr-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
			      <button class="dropdown-item" type="button"><a class="nav-link active text-reset" href="Nosotros.html">NOSOTROS</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Productos.html">PRODUCTOS</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Tienda.html">TIENDA</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Contacto.html">CONTACTO</a></button>
				</div>
			</div>
		</div>
		<div id="portada" class="row bg-image text-dark ml-2 mr-1">
			<div class="col-lg-12 col-xs-12">
			    <div class="contacto marginLR bg-text mt-4 mb-4 text-wh">
					<h1 class="card-title mt-3 pt-1 text-center">ESCRIBINOS TU CONSULTA O COMENTARIO A:</h1>
					<div class="card-text text-center paddingForm">
					    <h5>zahi.delicias@gmail.com</h5>
					</div>
					<div class="card-text d-flex flex-column text-center paddingForm">
						<h3 class="mb-2">O COMPLETA EL SIGUIENTE FORMULARIO:</h3>
						<div class="row form">
							<div class="col-xs-12 col-md-6">
								<form action="#" class="formulario paddingForm">
									<div class="form-group mx-auto m-1">
										<input type="text" class="form-control focus form-control-sm" placeholder="Nombre y Apellido">
									</div>
									<div clas="form-group mx-auto m-1">
										<input type="phone" class="form-control focus form-control-sm" placeholder="Telefono de contacto">
									</div>
									<div class="form-group mx-auto m-1">
										<input type="text" class="form-control focus form-control-sm" placeholder="E-mail">
									</div>
									<div>
										<h3>REGIÓN:</h3> 
										<select name="región" class="form-control form-control-sm">
											<option>CABA</option>
											<option>GBA Zona norte</option>
											<option>GBA Zona sur</option>
											<option>GBA Zona oeste</option>
										</select>
									</div>
									<div class="paddingForm">
										<h3>MOTIVO DEL MENSAJE:</h3>
										<div>Consulta <input type="radio" name="opcionU"></div>
										<div>Reclamos <input type="radio" name="opcionU"></div>
										<div>Otros <input type="radio" name="opcionU"></div>
									</div>
				  			   </form>
				  			</div>
				  			<div class="col-xs-12 col-md-6">
							   <form class="paddingForm">
								 	<div class="paddingForm">
										<textarea class="form-control" id="exampleFormControlTextarea1" rows="12" placeholder="Escribe tu mensaje aqui"></textarea>
									</div>
									<div class="paddingForm text-right">
										<input type="submit" class="btn btn-outline-light" value="Enviar">
										<input type="reset" class="btn btn-outline-light" value="Resetear">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- INICIO FOOTER -->
		<div class="row footer ml-2">
			<div class="col-lg-4 col-xs-12 d-flex flex-row">
				<p>Seguinos en:</p>
				<div class="text-center ml-3">
					<i class="fab fa-instagram icon mr-2"></i>
					<i class="fab fa-youtube icon"></i>
					<i class="fab fa-facebook-f ml-2 icon"></i>
				</div>
			</div>
			<div class="col-lg-8 col-xs-12 d-flex flex-row">
				<form class="col-sm-12 form-group row">
					<div class="form-group row col-sm-10">
						<label for="suscripcion" class="col-form-label">Recibí ofertas y promociones</label>
						<div class="col-6">
							<input type="text" class="form-control focus" id="suscripcion" placeholder="E-mail">
						</div>
					</div>
					<div class="col-sm-2 submit">
						<input type="submit" class="btn btn-outline-light btn-sm" value="SUSCRIBIRME">
					</div>
				</form>
			</div>
		</div>
		<div class="row footer f-start">
			<div class="col-lg-4 col-xs-12 paddingTB text-center">
				<div>
					<h5>MEDIOS DE PAGO</h5>
					<div class="col-xs-12 col-lg-12 text-center mt-2 p-1">
						<p class="text"><i class="fas fa-university mr-2 icon"></i> DEPOSITO O TRANSFERENCIA BANCARIA</p>
					</div>
					<div class="col-xs-12 col-lg-12 text-center p-1 baseline">
						<img src="../assets/images/mercado-pago.png" width="12%" class="mr-2 mb-3">
						<i class="fab fa-cc-visa mr-2 icon"></i>
						<i class="fab fa-cc-mastercard mr-2 icon"></i>
						<i class="fab fa-cc-amex mr-2 icon"></i>
						<i class="fab fa-cc-diners-club icon"></i>
					</div>
				</div>
				<div class="p-2 mt-1">
					<h5>ENCONTRANOS EN</h5>
					<img src="../assets/images/pedidos-ya.png" width="15%" class="mr-3">
					<img src="../assets/images/rappi-logo.png" width="15%" class="ml-3">
				</div>
			</div>
			<div class="col-lg-4 col-xs-12 paddingTB">
				<h5>NUESTRO LOCAL</h5>
				<div class="mt-2">
					<p><i class="fas fa-phone-alt iconS"></i> 4787 3373</p>
					<p><i class="fab fa-whatsapp iconS"></i> 11 6828 7951</p>
					<p><i class="fas fa-map-marker-alt iconS"></i> Av. OLAZABAL 5320, VILLA URQUIZA, CABA.</p>
					<p><i class="fas fa-envelope iconS"></i> zahi.delicias@gmail.com</p>
				</div>
			</div>
			<div id="mapa" class="col-lg-4 col-xs-12 paddingTB">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13140.30690452154!2d-58.48641!3d-34.5769251!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x265ea5c592232e8c!2sHausbrot!5e0!3m2!1ses-419!2sar!4v1624367479995!5m2!1ses-419!2sar" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-xs-12">
				<p class="text-center">2021 <i class="far fa-copyright"></i>Copyright ZAHI Delicias. Todos los derechos reservados.</p>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a href="https://api.whatsapp.com/send?phone=[54][1168287951]"><img src="../assets/images/whatsapp.png" width="20%" id="whatsapp"></a>
			</div>
		</div>
	</div>
	<!-- FIN FOOTER -->
	<!-- jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- AOS JS -->
  	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>
</html>