<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
	<title>zahi+Serra</title> 
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
	<!-- Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
   	<link rel="stylesheet" href="..\css\bootstrap.min.css">
    <!-- AOS CSS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- Mi CSS -->
	<link rel="stylesheet" type="text/css" href="..\css\estilo.css">
</head>
<body class="p-3 justify-content-center">
	<div class="container-fluid">
		<header class="row">
			<div class="col-xs-12 col-lg-12 m-2 iconsContainer">
				<i class="fab fa-instagram icon"></i>
				<i class="fab fa-youtube icon"></i>
				<i class="fab fa-facebook-f icon"></i>
			</div>
		</header>
		<div class="row navBar">
			<div class="col-lg-2 col-xs-12">
				<img src="..\assets\images\logo.png" alt="logo" id="logo" width="110%" data-aos="flip-left">
			</div>
			<div id="navDesktop" class="col-md-10">
				<ul class="nav justify-content-center p-1 bg-light text-dark">
					<li class="nav-item">
					    <a class="nav-link active text-reset" href="..\index.html"><i class="fas fa-home"></i></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link active text-reset" href="Nosotros.html">NOSOTROS</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link text-reset" href="Productos.html">PRODUCTOS</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link text-reset" href="Tienda.html">TIENDA</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-reset" href="Contacto.html">CONTACTO</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div id="navMobile" class= "col-xs-12 dropdown">
				<button class="btn btn-light dropdown-toggle mt-2 mb-2 ml-3 mr-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				  <button class="dropdown-item" type="button"><a class="nav-link active text-reset" href="..\index.html"><i class="fas fa-home"></i></a></button>
			      <button class="dropdown-item" type="button"><a class="nav-link active text-reset" href="Nosotros.html">NOSOTROS</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Productos.html">PRODUCTOS</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Tienda.html">TIENDA</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Contacto.html">CONTACTO</a></button>
				</div>
			</div>
		</div>
		<div id="portada" class="row bg-image text-dark ml-2 mr-1">
			<div class="col-lg-12 col-xs-12">
			    <div class="contacto marginLR bg-text mt-4 mb-4">
					<h1 class="card-title mt-3 pt-1 text-center">ESCRIBINOS TU CONSULTA O COMENTARIO A:</h1>
					<div class="card-text text-center paddingForm">
					    <h5>zahi.delicias@gmail.com</h5>
					</div>
					<div class="card-text d-flex flex-column text-center paddingForm">
						<h3 class="mb-2">O COMPLETA EL SIGUIENTE FORMULARIO:</h3>
						<div class="row form">
							<div class="col-xs-12 col-md-6">
								<form action="#" class="formulario paddingForm">
									<div class="form-group mx-auto m-1">
										<input type="text" class="form-control focus form-control-sm" placeholder="Nombre y Apellido">
									</div>
									<div clas="form-group mx-auto m-1">
										<input type="phone" class="form-control focus form-control-sm" placeholder="Telefono de contacto">
									</div>
									<div class="form-group mx-auto m-1">
										<input type="text" class="form-control focus form-control-sm" placeholder="E-mail">
									</div>
									<div>
										<h3>REGIÓN:</h3> 
										<select name="región" class="form-control form-control-sm">
											<option>CABA</option>
											<option>GBA Zona norte</option>
											<option>GBA Zona sur</option>
											<option>GBA Zona oeste</option>
										</select>
									</div>
									<div class="paddingForm">
										<h3>MOTIVO DEL MENSAJE:</h3>
										<div>Consulta <input type="radio" name="opcionU"></div>
										<div>Reclamos <input type="radio" name="opcionU"></div>
										<div>Otros <input type="radio" name="opcionU"></div>
									</div>
				  			   </form>
				  			</div>
				  			<div class="col-xs-12 col-md-6">
							   <form class="paddingForm">
								 	<div class="paddingForm">
										<textarea class="form-control" id="exampleFormControlTextarea1" rows="12" placeholder="Escribe tu mensaje aqui"></textarea>
									</div>
									<div class="paddingForm text-right">
										<input type="submit" class="btn btn-outline-light" value="Enviar">
										<input type="reset" class="btn btn-outline-light" value="Resetear">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- inicio footer -->
		<div class="row d-flex flex-row justify-content-around">
			<div class="col-lg-4 col-xs-12 paddingTB">
					<p>REDES SOCIALES</p>
					<p>(INSTAGRAM) ZAHI.DELICIAS</p>
					<p>(YOUTUBE) ZAHI.DELICIAS</p>
					<p>(FACEBOOK) ZAHI.DELICIAS</p>
			</div>
			<div class="col-lg-4 col-xs-12 paddingTB">
					<p>NUESTRO LOCAL</p>
					<p>11 1111 1111 / 11 1111 1111</p>
					<p>Av. OLAZABAL 5320, VILLA URQUIZA, CABA.</p>
					<p>zahi.delicias@gmail.com</p>
			</div>
			<div id="mapa" class="col-lg-4 col-xs-12 paddingTB">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13140.30690452154!2d-58.48641!3d-34.5769251!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x265ea5c592232e8c!2sHausbrot!5e0!3m2!1ses-419!2sar!4v1624367479995!5m2!1ses-419!2sar" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<img src="../assets/images/whatsapp.png" width="20%" id="whatsapp">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-xs-12">
				<p class="text-center">2021 Copyright ZAHI Delicias. Todos los derechos reservados.</p>
			</div>
		</div>
	</div>
	<!-- jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- AOS JS -->
  	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>
</html>