<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
	<title>zahi+Serra</title> 
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
	<!-- Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
   	<link rel="stylesheet" href="..\css\bootstrap.min.css">
    <!-- AOS CSS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- Mi CSS -->
	<link rel="stylesheet" type="text/css" href="..\css\estilo.css">
</head>
<body class="p-3 justify-content-center">
	<div class="container-fluid">
		<header class="row">
			<div class="col-xs-12 col-lg-12 m-2 iconsContainer">
				<i class="fab fa-instagram icon"></i>
				<i class="fab fa-youtube icon"></i>
				<i class="fab fa-facebook-f icon"></i>
			</div>
		</header>
		<div class="row navBar">
			<div class="col-lg-2 col-xs-12">
				<img src="..\assets\images\logo.png" alt="logo" id="logo" width="110%" data-aos="flip-left">
			</div>
			<div id="navDesktop" class="col-md-10">
				<ul class="nav justify-content-center p-1 bg-light text-dark">
					<li class="nav-item">
					    <a class="nav-link active text-reset" href="..\index.html"><i class="fas fa-home"></i></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link active text-reset" href="Nosotros.html">NOSOTROS</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link text-reset" href="Productos.html">PRODUCTOS</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link text-reset" href="Tienda.html">TIENDA</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-reset" href="Contacto.html">CONTACTO</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div id="navMobile" class= "col-xs-12 dropdown">
				<button class="btn btn-light dropdown-toggle mt-2 mb-2 ml-3 mr-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				  <button class="dropdown-item" type="button"><a class="nav-link active text-reset" href="..\index.html"><i class="fas fa-home"></i></a></button>
			      <button class="dropdown-item" type="button"><a class="nav-link active text-reset" href="Nosotros.html">NOSOTROS</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Productos.html">PRODUCTOS</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Tienda.html">TIENDA</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Contacto.html">CONTACTO</a></button>
				</div>
			</div>
		</div>
		<div id="portada" class="row">
			<div class="col-lg-12 col-xs-12">
				<div class="card">
				  <img src="..\assets\images\panIntegral.jpeg" class="card-img" alt="panIntegral">
				  <div class="card-img-overlay d-flex flex-column justify-content-end align-items-start">
				    <h1 class="card-title encabezadoA p-1">DELICIAS 100% INTEGRALES & ARTESANALES</h1>
				    <h2 class="card-text encabezadoB align-text-bottom p-1">¡CONOCENOS! Y SUMATE AL CAMBIO #100%INTEGRAL</h2>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-xs-12">
				<div class="col-lg-12 col-xs-12 paddingSectionTB">
					<h3 class="sectionTitle">NOSOTROS</h3>
					<p class="parrafo">NUESTRA PROPUESTA ES LLEVAR A TU MESA LOS SABORES QUE TE ENCANTAN, ELABORANDO PRODUCTOS SANOS, DELICIOSOS Y MÁS NUTRITIVOS.
					</p>
				</div>
				<div class="col-lg-12 col-xs-12 paddingSectionTB">
					<h3 class="sectionTitle">100% INTEGRAL</h3>
					<p class="parrafo">¿PORQUE HARINA INTEGRAL? POR SU ALTO CONTENIDO DE FIBRA Y SU APORTE DE VITAMINAS, HIERRO Y MINERALES QUE INTEGRA A TU DIETA NUMEROSOS BENEFICIOS</p>
					<div class="parrafo">
						<ul>
							<li>AYUDA A REDUCIR LOS NIVELES DE COLESTEROL.</li>
							<li>EVITA EL EXCESO DE GLUCOSA O INSULINA EN SANGRE.</li>
							<li>AYUDA A CONTROLAR EL PESO Y GENERA UNA MAYOR SENSACIÓN DE SACIEDAD.</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-12 col-xs-12 paddingSectionTB">
					<h3 class="sectionTitle">100% NATURAL</h3>
					<p class="parrafo">TODOS NUESTROS PRODUCTOS ESTÁN ELABORADOS CON INGREDIENTES ORGÁNICOS PREVIAMENTE SELECCIONADOS, SIN CONSERVANTES NI COLORANTES ARTIFICIALES.</p>
				</div>
				<div class="col-lg-12 col-xs-12 paddingSectionTB">
					<h3 class="sectionTitle">100% LIVIANO</h3>
					<p class="parrafo">NUESTRAS RECETAS ESTÁN PENSADAS PARA ACOMPAÑAR TU ALIMENTACIÓN DE MANERA SALUDABLE. TODOS NUESTROS PRODUCTOS SON REDUCIDOS EN GRASAS Y AZÚCARES.</p>	
					<p class="parrafo">SI QUERÉS OBTENER MAS INFORMACIÓN SOBRE LA ELABORACIÓN, HACE CLICK AQUI</p>
				</div>
			</div>
			<div class="col-lg-4 col-xs-12 border border-light w-100 p-3 h-300 text-wrap mb-5">
				<h1>ESPACIO PARA PUBLICIDAD</h1>
			</div>
		</div>
		<div class="bg-image row d-flex justify-content-center ml-1">
			<div class="col-lg-12 col-xs-12">
				<h1 class="card-title mt-5 mb-5 text-center">¡SUMATE A NUESTRA COMUNIDAD Y OBTENÉ GRANDES BENEFICIOS!</h1>
				<div id="seccionComunidad" class="row d-flex flex-row"> 
					<div class="col-md-6 text-center mt-3">
						<h3 class="card-text">DESCUENTOS</h3>
						<h3 class="card-text">RECETAS EXCLUSIVAS</h3>
						<h4 class="card-text">¡Y MUCHO MÁS!</h4>
					</div>
					<div class="col-md-6 text-center mt-3">
						<form action="#" class="input-group input-group-sm mb-3">
							<div class="form-group col-md-8">
								<input type="text" class="form-control focus m-1" placeholder="Nombre">
							</div>
							<div class="form-group col-md-8">
		    					<input type="email" class="form-control focus m-1" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
		  					</div>
		  					<div class="form-group col-md-8">
		  						<button type="button" class="btn btn-light">ENVIAR</button>
		  					</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- inicio footer -->
		<div class="row d-flex flex-row justify-content- mt-5">
			<div class="col-lg-4 col-xs-12 paddingTB">
					<p>REDES SOCIALES</p>
					<p>(INSTAGRAM) ZAHI.DELICIAS</p>
					<p>(YOUTUBE) ZAHI.DELICIAS</p>
					<p>(FACEBOOK) ZAHI.DELICIAS</p>
			</div>
			<div class="col-lg-4 col-xs-12 paddingTB">
					<p>NUESTRO LOCAL</p>
					<p>11 1111 1111 / 11 1111 1111</p>
					<p>Av. OLAZABAL 5320, VILLA URQUIZA, CABA.</p>
					<p>zahi.delicias@gmail.com</p>
			</div>
			<div id="mapa" class="col-lg-4 col-xs-12 paddingTB">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13140.30690452154!2d-58.48641!3d-34.5769251!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x265ea5c592232e8c!2sHausbrot!5e0!3m2!1ses-419!2sar!4v1624367479995!5m2!1ses-419!2sar" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<img src="../assets/images/whatsapp.png" width="20%" id="whatsapp">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-xs-12">
				<p class="text-center">2021 Copyright ZAHI Delicias. Todos los derechos reservados.</p>
			</div>
		</div>
	</div>
	<!-- jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- AOS JS -->
  	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>
</html>