<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
	<title>zahi+Serra</title> 
	<!-- Google fonts -->
	<link rel = "preconnect" href = "https://fonts.googleapis.com">
	<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	<!-- Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
   	<link rel="stylesheet" href="..\css\bootstrap.min.css">
    <!-- AOS CSS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- Mi CSS -->
	<link rel="stylesheet" type="text/css" href="..\css\estilo.css">
</head>
<body>
	<div class="container-fluid">
		<header class="row">
			<div class="col-xs-12 col-lg-12 iconsContainer">
				<i class="fab fa-instagram icon"></i>
				<i class="fab fa-youtube icon"></i>
				<i class="fab fa-facebook-f icon"></i>
			</div>
		</header>
		<div class="row nav-bar">
			<div class="col-lg-2 col-xs-12">
				<a href="..\index.html"><img src="..\assets\images\logo.png" alt="logo" id="logo" width="110%" data-aos="flip-left"></a>
			</div>
			<div id="navDesktop" class="col-md-10">
				<ul class="nav">
					<li class="nav-item">
					    <a class="nav-link active text-reset" href="Nosotros.html">NOSOTROS</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link text-reset" href="Productos.html">PRODUCTOS</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link text-reset" href="Tienda.html">TIENDA</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-reset" href="Contacto.html">CONTACTO</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div id="navMobile" class= "col-xs-12 dropdown">
				<button class="btn btn-light dropdown-toggle mt-2 mb-2 ml-3 mr-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
			      <button class="dropdown-item" type="button"><a class="nav-link active text-reset" href="Nosotros.html">NOSOTROS</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Productos.html">PRODUCTOS</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Tienda.html">TIENDA</a></button>
				  <button class="dropdown-item" type="button"><a class="nav-link text-reset" href="Contacto.html">CONTACTO</a></button>
				</div>
			</div>
		</div>
		<div id="portada" class="row">
			<div class="col-lg-12 col-xs-12">
				<div class="card">
				  <img src="..\assets\images\portada-mini-baguettes.jpg" class="card-img" alt="Mini baguettes">
				  <div class="card-img-overlay title-container">
				    <h1 class="title-view text-wh">PRODUCTOS</h1>
				  </div>
				</div>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-2 margin-section">
		  <div class="col mb-5">
		  	<div class="card bg-dark text-white transicion" data-aos="zoom-in-up">
			  <img src="..\assets\images\panIntegral.jpeg" class="card-img" alt="panIntegral">
			  <div class="card-img-overlay title-container">
			    <button type="button" class="btn btn-link card-name text-wh" data-toggle="modal" data-target="#panes">Panes</button>
			  </div>
			</div>
		  </div>
		  <div class="col mb-5">
		  	<div class="card bg-dark text-white transicion" data-aos="zoom-in-up">
			  <img src="..\assets\images\pancitosQueso.jpeg" class="card-img" alt="pancitosQueso">
			  <div class="card-img-overlay title-container">
			    <button type="button" class="btn btn-link card-name text-wh" data-toggle="modal" data-target="#salados">Salados</button>
			  </div>
			</div>
		  </div>
		  <div class="col mb-5">
		  	<div class="card bg-dark text-white transicion" data-aos="zoom-in-up">
			  <img src="..\assets\images\budinManzanas.jpeg" class="card-img" alt="budinManzanas">
			  <div class="card-img-overlay title-container">
			    <button type="button" class="btn btn-link card-name text-wh" data-toggle="modal" data-target="#budines">Budines</button>
			  </div>
			</div>
		  </div>
		  <div class="col mb-5">
		  	<div class="card bg-dark text-white transicion" data-aos="zoom-in-up">
			  <img src="..\assets\images\panDulceFrutos.jpeg" class="card-img" alt="panDulceFrutos">
			  <div class="card-img-overlay title-container">
			    <button type="button" class="btn btn-link card-name text-wh" data-toggle="modal" data-target="#dulces">Dulces</button>
			  </div>
			</div>
		  </div>
		</div>
		<!-- SECCION MODALES -->
		<div id="panes" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		    		<div class="carousel-inner">
					    <div class="carousel-item active">
					      <img class="d-block w-100" src="../assets/images/panIntegral.jpeg" alt="First slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Pan integral de molde.</h3>
						    <p>con mix de granolas, semillas o frutos secos.</p>
						  </div>
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/panesIntegrales.jpg" alt="Second slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Pan integral de molde.</h3>
						    <p>con mix de granolas, semillas o frutos secos</p>
						  </div>
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/baguettesMini.jpg" alt="Third slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Mini baguettes integrales.</h3>
						    <p>tradicional o con semillas.</p>
						  </div>
					    </div>
					  	<div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/baguettes.jpg" alt="Third slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Baguettes integrales.</h3>
						    <p>tradicional o con semillas.</p>
						  </div>
					    </div>
					    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						</a>
					</div>
			    </div>
		    </div>
		  </div>
		</div>
		<div id="salados" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		    		<div class="carousel-inner">
					    <div class="carousel-item active">
					      <img class="d-block w-100" src="../assets/images/pancitosQueso.jpeg" alt="First slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Pancitos de queso reggianito.</h3>
						  </div>
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/croissants.jpg" alt="Second slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Croissants integrales</h3>
						    <p></p>
						  </div>
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/muffinSalados.jpg" alt="Third slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Muffins salados</h3>
						    <p>cebollas caramelizadas & capresse</p>
						  </div>
					    </div>
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
			    </div>
		    </div>
		  </div>
		</div>
		<div id="budines" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		    		<div class="carousel-inner">
					    <div class="carousel-item active">
					      <img class="d-block w-100" src="../assets/images/budinFrutos.jpg" alt="First slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Frutos rojos y almendras.</h3>
						    <p></p>
						  </div>
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/budinManzanas.jpeg" alt="Second slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Manzanas con yogurt natural.</h3>
						    <p></p>
						  </div>
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/budinNaranjas.jpeg" alt="Second slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Naranjas y castañas de cajú.</h3>
						    <p></p>
						  </div>
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/budinZapallo.jpg" alt="Third slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Zapallo y mix de semillas.</h3>
						    <p></p>
						  </div>
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/cacao-amargo.jpeg" alt="Third slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Chocolate amargo y almendras.</h3>
						  </div>
						</div>
						<div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/bananas-avena.jpg" alt="Third slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Bananas y avena.</h3>
						  </div>
						</div>
						<div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/b-marmolado.jpeg" alt="Third slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Bananas y avena.</h3>
						  </div>
					    </div>
					  	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    	<span class="sr-only">Previous</span>
					  	</a>
					  	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
					    </a>
					</div>
			    </div>
		    </div>
		  </div>
		</div>
		<div id="dulces" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		    		<div class="carousel-inner">
					    <div class="carousel-item active">
					      <img class="d-block w-100" src="../assets/images/medialunas.jpg" alt="Second slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Medialunas integrales.</h3>
						  </div>
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../assets/images/panDulceFrutos.jpeg" alt="Third slide">
					      <div class="carousel-caption d-none d-md-block text-wh">
						    <h3>Pan dulce con frutos rojos.</h3>
						  </div>
					    </div>
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
			    </div>
		    </div>
		  </div>
		</div>
		<!-- INICIO FOOTER -->
		<div class="row footer ml-2">
			<div class="col-lg-4 col-xs-12 d-flex flex-row">
				<p>Seguinos en:</p>
				<div class="text-center ml-3">
					<i class="fab fa-instagram icon mr-2"></i>
					<i class="fab fa-youtube icon"></i>
					<i class="fab fa-facebook-f ml-2 icon"></i>
				</div>
			</div>
			<div class="col-lg-8 col-xs-12 d-flex flex-row">
				<form class="col-12 form-group row">
					<div class="form-group row col-xs-12 col-md-10 subscribe">
						<label for="suscripcion" class="col-form-label">Recibí ofertas y promociones</label>
						<div class="col-xs-12 col-md-6">
							<input type="text" class="form-control focus" id="suscripcion" placeholder="E-mail">
						</div>
					</div>
					<div class="col-xs-12 col-md-2 submit">
						<input type="submit" class="btn btn-outline-light btn-sm" value="SUSCRIBIRME">
					</div>
				</form>
			</div>
		</div>
		<div class="row footer">
			<div class="col-lg-4 col-xs-12 paddingTB text-center">
				<div>
					<h5>MEDIOS DE PAGO</h5>
					<div class="col-xs-12 col-lg-12 text-center mt-1 p-1">
						<p class="text"><i class="fas fa-university mr-2 icon"></i> DEPOSITO O TRANSFERENCIA BANCARIA</p>
					</div>
					<div class="col-xs-12 col-lg-12 text-center p-1 baseline">
						<img src="../assets/images/mercado-pago.png" width="12%" class="mr-2 mb-3">
						<i class="fab fa-cc-visa mr-2 icon"></i>
						<i class="fab fa-cc-mastercard mr-2 icon"></i>
						<i class="fab fa-cc-amex mr-2 icon"></i>
						<i class="fab fa-cc-diners-club icon"></i>
					</div>
				</div>
				<div class="p-2 mt-1">
					<h5>ENCONTRANOS EN</h5>
					<img src="../assets/images/pedidos-ya.png" width="15%" class="mr-3">
					<img src="../assets/images/rappi-logo.png" width="15%" class="ml-3">
				</div>
			</div>
			<div class="col-lg-4 col-xs-12 paddingTB text-center">
				<h5>NUESTRO LOCAL</h5>
				<div class="info">
					<p><i class="fas fa-phone-alt iconS"></i> 4787 3373 / 4787 3577</p>
					<p><i class="fab fa-whatsapp iconS"></i> 11 6828 7951</p>
					<p><i class="fas fa-map-marker-alt iconS"></i> Av. Olazabal 5320, Villa Urquiza, CABA.</p>
					<p><i class="fas fa-envelope iconS"></i> zahi.delicias@gmail.com</p>
				</div>
			</div>
			<div id="mapa" class="col-lg-4 col-xs-12 paddingTB">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13140.30690452154!2d-58.48641!3d-34.5769251!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x265ea5c592232e8c!2sHausbrot!5e0!3m2!1ses-419!2sar!4v1624367479995!5m2!1ses-419!2sar" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-xs-12">
				<p class="text-center">2021 <i class="far fa-copyright"></i> Copyright ZAHI Delicias. Todos los derechos reservados.</p>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a href="https://api.whatsapp.com/send?phone=[54][1168287951]"><img src="../assets/images/whatsapp.png" width="20%" id="whatsapp"></a>
			</div>
		</div>
	</div>
	<!-- FIN FOOTER -->
	<!-- jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- AOS JS -->
  	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>
</html>